In [2]:
import pandas as pd

In [17]:
df = pd.read_csv("matriz_viajes_definitiva.csv")

In [18]:
df

,hora_inicio,hora_fin,distancia,dir_o,dir_d
0,2021-01-01 00:09:15-03:00,2021-01-01 01:46:59-03:00,11,Vitacura,Vitacura
1,2021-01-01 01:18:36-03:00,2021-01-01 03:18:36-03:00,12,Vitacura,Vitacura
2,2021-01-01 03:18:36-03:00,2021-01-01 09:51:43-03:00,1,Vitacura,Vitacura
3,2021-01-01 09:51:43-03:00,2021-01-01 13:21:43-03:00,8,Vitacura,Las Condes
4,2021-01-01 13:21:43-03:00,2021-01-01 13:31:20-03:00,3,Las Condes,Las Condes
...,...,...,...,...,...
3099613,2021-01-01 16:27:43-03:00,2021-01-01 18:12:43-03:00,2,Calera de Tango,Calera de Tango
3099614,2021-01-01 18:12:43-03:00,2021-01-01 19:17:05-03:00,1,Calera de Tango,Calera de Tango
3099615,2021-01-01 21:02:55-03:00,2021-01-01 22:53:36-03:00,4,Calera de Tango,Padre Hurtado
3099616,2021-01-01 22:53:36-03:00,2021-01-01 23:04:01-03:00,1,Padre Hurtado,Padre Hurtado
3099617,2021-01-01 01:21:44-03:00,2021-01-01 01:44:20-03:00,8,Penaflor,Maipu

In [19]:
df = df[["hora_inicio","hora_fin","dir_o","dir_d"]]
df

,hora_inicio,hora_fin,dir_o,dir_d
0,2021-01-01 00:09:15-03:00,2021-01-01 01:46:59-03:00,Vitacura,Vitacura
1,2021-01-01 01:18:36-03:00,2021-01-01 03:18:36-03:00,Vitacura,Vitacura
2,2021-01-01 03:18:36-03:00,2021-01-01 09:51:43-03:00,Vitacura,Vitacura
3,2021-01-01 09:51:43-03:00,2021-01-01 13:21:43-03:00,Vitacura,Las Condes
4,2021-01-01 13:21:43-03:00,2021-01-01 13:31:20-03:00,Las Condes,Las Condes
...,...,...,...,...
3099613,2021-01-01 16:27:43-03:00,2021-01-01 18:12:43-03:00,Calera de Tango,Calera de Tango
3099614,2021-01-01 18:12:43-03:00,2021-01-01 19:17:05-03:00,Calera de Tango,Calera de Tango
3099615,2021-01-01 21:02:55-03:00,2021-01-01 22:53:36-03:00,Calera de Tango,Padre Hurtado
3099616,2021-01-01 22:53:36-03:00,2021-01-01 23:04:01-03:00,Padre Hurtado,Padre Hurtado
3099617,2021-01-01 01:21:44-03:00,2021-01-01 01:44:20-03:00,Penaflor,Maipu

In [20]:
df['hora_fin'] = pd.to_datetime(df['hora_fin'])

<ipython-input-20-8ebc9e24f5fb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['hora_fin'] = pd.to_datetime(df['hora_fin'])

In [21]:
df

,hora_inicio,hora_fin,dir_o,dir_d
0,2021-01-01 00:09:15-03:00,2021-01-01 01:46:59-03:00,Vitacura,Vitacura
1,2021-01-01 01:18:36-03:00,2021-01-01 03:18:36-03:00,Vitacura,Vitacura
2,2021-01-01 03:18:36-03:00,2021-01-01 09:51:43-03:00,Vitacura,Vitacura
3,2021-01-01 09:51:43-03:00,2021-01-01 13:21:43-03:00,Vitacura,Las Condes
4,2021-01-01 13:21:43-03:00,2021-01-01 13:31:20-03:00,Las Condes,Las Condes
...,...,...,...,...
3099613,2021-01-01 16:27:43-03:00,2021-01-01 18:12:43-03:00,Calera de Tango,Calera de Tango
3099614,2021-01-01 18:12:43-03:00,2021-01-01 19:17:05-03:00,Calera de Tango,Calera de Tango
3099615,2021-01-01 21:02:55-03:00,2021-01-01 22:53:36-03:00,Calera de Tango,Padre Hurtado
3099616,2021-01-01 22:53:36-03:00,2021-01-01 23:04:01-03:00,Padre Hurtado,Padre Hurtado
3099617,2021-01-01 01:21:44-03:00,2021-01-01 01:44:20-03:00,Penaflor,Maipu

In [22]:
df["Hora_llegada"] = df.hora_fin.dt.hour

In [23]:
df[df['Hora_llegada']==0]

,hora_inicio,hora_fin,dir_o,dir_d,Hora_llegada
37,2021-01-01 00:12:58-03:00,2021-01-01 00:57:58-03:00,Lo Prado,Lo Prado,0
51,2021-01-01 00:27:54-03:00,2021-01-01 00:39:03-03:00,Paine,Paine,0
405,2021-01-01 00:23:58-03:00,2021-01-01 00:51:53-03:00,Lo Barnechea,Lo Barnechea,0
439,2021-01-01 00:04:19-03:00,2021-01-01 00:43:13-03:00,Estacion Central,Las Condes,0
502,2021-01-01 00:24:45-03:00,2021-01-01 00:56:05-03:00,Quilicura,Quilicura,0
...,...,...,...,...,...
3099091,2021-01-01 00:12:12-03:00,2021-01-01 00:49:01-03:00,La Cisterna,La Cisterna,0
3099182,2021-01-01 00:22:15-03:00,2021-01-01 00:45:55-03:00,Estacion Central,Estacion Central,0
3099311,2021-01-01 00:23:02-03:00,2021-01-01 00:31:32-03:00,Paine,Paine,0
3099494,2021-01-01 00:04:01-03:00,2021-01-01 00:34:01-03:00,Pudahuel,Santiago,0
3099605,2021-01-01 00:21:53-03:00,2021-01-01 00:35:28-03:00,Calera de Tango,Calera de Tango,0

In [24]:
df = df.reset_index(drop=True)

In [27]:
df[["dir_o","dir_d", "Hora_llegada"]].value_counts().to_csv("viajes_con_horas_dp2.csv")