In [ ]:
import pandas as pd

In [71]:
df = pd.read_csv("matriz_viajes_definitiva.csv")

In [72]:
df = df[["hora_inicio","hora_fin","distancia","dir_o","dir_d"]]
df

,hora_inicio,hora_fin,distancia,dir_o,dir_d
0,2021-01-01 00:09:15-03:00,2021-01-01 01:46:59-03:00,11.450789,Vitacura,Vitacura
1,2021-01-01 01:18:36-03:00,2021-01-01 03:18:36-03:00,12.884153,Vitacura,Vitacura
2,2021-01-01 03:18:36-03:00,2021-01-01 09:51:43-03:00,1.149621,Vitacura,Vitacura
3,2021-01-01 09:51:43-03:00,2021-01-01 13:21:43-03:00,8.946301,Vitacura,Las Condes
4,2021-01-01 13:21:43-03:00,2021-01-01 13:31:20-03:00,3.339568,Las Condes,Las Condes
...,...,...,...,...,...
4138262,2021-01-01 16:27:43-03:00,2021-01-01 18:12:43-03:00,2.264672,Calera de Tango,Calera de Tango
4138263,2021-01-01 18:12:43-03:00,2021-01-01 19:17:05-03:00,1.874491,Calera de Tango,Calera de Tango
4138264,2021-01-01 21:02:55-03:00,2021-01-01 22:53:36-03:00,4.755143,Calera de Tango,Padre Hurtado
4138265,2021-01-01 22:53:36-03:00,2021-01-01 23:04:01-03:00,1.006161,Padre Hurtado,Padre Hurtado
4138266,2021-01-01 01:21:44-03:00,2021-01-01 01:44:20-03:00,8.401840,Penaflor,Maipu

In [73]:
df["distancia"]=df["distancia"].astype(int)

In [74]:
df = df[df['distancia']<25.0]
df = df[df['distancia']>0.0]
df = df[df['dir_d'] != df['dir_d'].iloc[1936390]]
df = df[(df['dir_o'] != df['dir_d'].iloc[1936390])]
df

,hora_inicio,hora_fin,distancia,dir_o,dir_d
0,2021-01-01 00:09:15-03:00,2021-01-01 01:46:59-03:00,11,Vitacura,Vitacura
1,2021-01-01 01:18:36-03:00,2021-01-01 03:18:36-03:00,12,Vitacura,Vitacura
2,2021-01-01 03:18:36-03:00,2021-01-01 09:51:43-03:00,1,Vitacura,Vitacura
3,2021-01-01 09:51:43-03:00,2021-01-01 13:21:43-03:00,8,Vitacura,Las Condes
4,2021-01-01 13:21:43-03:00,2021-01-01 13:31:20-03:00,3,Las Condes,Las Condes
...,...,...,...,...,...
4138262,2021-01-01 16:27:43-03:00,2021-01-01 18:12:43-03:00,2,Calera de Tango,Calera de Tango
4138263,2021-01-01 18:12:43-03:00,2021-01-01 19:17:05-03:00,1,Calera de Tango,Calera de Tango
4138264,2021-01-01 21:02:55-03:00,2021-01-01 22:53:36-03:00,4,Calera de Tango,Padre Hurtado
4138265,2021-01-01 22:53:36-03:00,2021-01-01 23:04:01-03:00,1,Padre Hurtado,Padre Hurtado
4138266,2021-01-01 01:21:44-03:00,2021-01-01 01:44:20-03:00,8,Penaflor,Maipu

In [75]:
df = df.reset_index(drop=True)

In [76]:
df.to_csv("matriz_viaje_final_final.csv")

In [70]:
df.dir_o.sort_values()

1424671        Buin
879157         Buin
2203116        Buin
2735420        Buin
2203115        Buin
             ...
145886     Vitacura
1119007    Vitacura
1119006    Vitacura
1119134    Vitacura
0          Vitacura
Name: dir_o, Length: 3099618, dtype: object

In [54]:
df["dir_d"].value_counts()

Puente Alto            201885
Maipu                  195223
Las Condes             165276
La Florida             143045
Santiago               129445
San Bernardo           126208
Colina                 124125
Penalolen              112218
Melipilla               97881
Pudahuel                94830
Lo Barnechea            89910
Estacion Central        77754
Nunoa                   77165
Quilicura               74417
Huechuraba              60714
Vitacura                56932
Paine                   56734
El Bosque               56148
Recoleta                55711
Buin                    55399
Providencia             54163
Renca                   53824
Quinta Normal           52370
San Miguel              52050
Cerro Navia             50733
Penaflor                50704
Lampa                   49627
La Cisterna             49276
La Granja               49093
Conchali                46872
Macul                   45804
Talagante               41974
Padre Hurtado           40366
Curacavi                37145
Cerrillos               34941
Lo Prado                32143
Lo Espejo               30946
Pedro Aguirre Cerda     25040
San Joaquin             24744
Isla de Maipo           24121
Independencia           23908
El Monte                23723
Pirque                  22625
Calera de Tango         22142
San Jose de Maipo       21916
San Ramon               21567
La Pintana              13939
Maria Pinto              8115
San Pedro                6178
La Barnechea             1117
Name: dir_d, dtype: int64

In [ ]:
df["dir_o"].value_counts()

Santiago               262860
Las Condes             262091
Puente Alto            245988
Maipu                  241517
La Florida             183029
San Bernardo           159447
Penalolen              149587
Colina                 130343
Nunoa                  126822
Pudahuel               125711
Providencia            113721
Melipilla              109189
Lo Barnechea           107621
Estacion Central        99686
Quilicura               95013
La Reina                89315
Vitacura                85972
Recoleta                76391
Quinta Normal           71826
Huechuraba              69539
San Miguel              69050
Renca                   68209
El Bosque               67861
La Cisterna             66101
Conchali                65605
Cerro Navia             63688
Buin                    63681
Macul                   63370
Paine                   63054
La Granja               58279
Penaflor                58113
Lampa                   50758
Talagante               48861
Curacavi                46842
La Pintana              46484
Lo Prado                44571
Padre Hurtado           43011
Cerrillos               41563
Lo Espejo               38403
Independencia           35461
San Joaquin             33866
Pedro Aguirre Cerda     32264
San Ramon               29697
Isla de Maipo           25037
El Monte                24635
Pirque                  22832
Calera de Tango         22539
San Jose de Maipo       21990
Maria Pinto              7849
San Pedro                6988
La Barnechea             1888
Alhue                      49
Name: dir_o, dtype: int64

In [57]:
df[["dir_o","dir_d"]].value_counts()

dir_o         dir_d
Puente Alto   Puente Alto          161578
Maipu         Maipu                149901
Las Condes    Las Condes           117817
Colina        Colina               110684
La Florida    La Florida           100630
                                    ...
Talagante     Quilicura                 1
La Barnechea  Renca                     1
Pirque        Lo Prado                  1
Colina        La Granja                 1
La Barnechea  San Jose de Maipo         1
Length: 1777, dtype: int64

In [58]:
df[["dir_o","dir_d"]].value_counts().to_csv("heatmap.csv")