In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("matriz_viaje_final_final.csv")

In [5]:
df = df[["hora_inicio","hora_fin", "distancia", "dir_o", "dir_d"]]
df

,hora_inicio,hora_fin,distancia,dir_o,dir_d
0,2021-01-01 00:09:15-03:00,2021-01-01 01:46:59-03:00,11,Vitacura,Vitacura
1,2021-01-01 01:18:36-03:00,2021-01-01 03:18:36-03:00,12,Vitacura,Vitacura
2,2021-01-01 03:18:36-03:00,2021-01-01 09:51:43-03:00,1,Vitacura,Vitacura
3,2021-01-01 09:51:43-03:00,2021-01-01 13:21:43-03:00,8,Vitacura,Las Condes
4,2021-01-01 13:21:43-03:00,2021-01-01 13:31:20-03:00,3,Las Condes,Las Condes
...,...,...,...,...,...
3099613,2021-01-01 16:27:43-03:00,2021-01-01 18:12:43-03:00,2,Calera de Tango,Calera de Tango
3099614,2021-01-01 18:12:43-03:00,2021-01-01 19:17:05-03:00,1,Calera de Tango,Calera de Tango
3099615,2021-01-01 21:02:55-03:00,2021-01-01 22:53:36-03:00,4,Calera de Tango,Padre Hurtado
3099616,2021-01-01 22:53:36-03:00,2021-01-01 23:04:01-03:00,1,Padre Hurtado,Padre Hurtado
3099617,2021-01-01 01:21:44-03:00,2021-01-01 01:44:20-03:00,8,Penaflor,Maipu

In [6]:
df['dir_o'] = df['dir_o'].replace({'La Barnechea' : 'Lo Barnechea'}, regex=True)
df['dir_d'] = df['dir_d'].replace({'La Barnechea' : 'Lo Barnechea'}, regex=True)

In [8]:
df

,hora_inicio,hora_fin,distancia,dir_o,dir_d
0,2021-01-01 00:09:15-03:00,2021-01-01 01:46:59-03:00,11,Vitacura,Vitacura
1,2021-01-01 01:18:36-03:00,2021-01-01 03:18:36-03:00,12,Vitacura,Vitacura
2,2021-01-01 03:18:36-03:00,2021-01-01 09:51:43-03:00,1,Vitacura,Vitacura
3,2021-01-01 09:51:43-03:00,2021-01-01 13:21:43-03:00,8,Vitacura,Las Condes
4,2021-01-01 13:21:43-03:00,2021-01-01 13:31:20-03:00,3,Las Condes,Las Condes
...,...,...,...,...,...
3099613,2021-01-01 16:27:43-03:00,2021-01-01 18:12:43-03:00,2,Calera de Tango,Calera de Tango
3099614,2021-01-01 18:12:43-03:00,2021-01-01 19:17:05-03:00,1,Calera de Tango,Calera de Tango
3099615,2021-01-01 21:02:55-03:00,2021-01-01 22:53:36-03:00,4,Calera de Tango,Padre Hurtado
3099616,2021-01-01 22:53:36-03:00,2021-01-01 23:04:01-03:00,1,Padre Hurtado,Padre Hurtado
3099617,2021-01-01 01:21:44-03:00,2021-01-01 01:44:20-03:00,8,Penaflor,Maipu

In [9]:
df.to_csv("matriz_viajes_definitiva.csv", index=False)